# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrety import IEX_CLOUD_API_TOKEN
stocks

    Ticker
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
498    XYL
499    YUM
500   ZBRA
501    ZBH
502    ZTS

[503 rows x 1 columns]

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'AAPL'
api_url = f'https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data =  requests.get(api_url).json()
data

{'avgTotalVolume': 63853142,
 'calculationPrice': 'close',
 'change': 0.12,
 'changePercent': 0.00063,
 'close': None,
 'closeSource': 'official',
 'closeTime': None,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': None,
 'delayedPriceTime': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPrice': None,
 'extendedPriceTime': None,
 'high': None,
 'highSource': None,
 'highTime': None,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexClose': 189.93,
 'iexCloseTime': 1715889599202,
 'iexLastUpdated': 1715889599202,
 'iexMarketPercent': 45.89293281814783,
 'iexOpen': 190.33,
 'iexOpenTime': 1715866201016,
 'iexRealtimePrice': 189.93,
 'iexRealtimeSize': 100,
 'iexVolume': 736398,
 'lastTradeTime': 1715889600000,
 'latestPrice': 189.84,
 'latestSource': 'Close',
 'latestTime': 'May 16, 2024',
 'latestUpdate': 1715889600070,
 'latestVolume': None,
 'low': None,
 'lowSource': None,
 'lowTime': None,
 'marketCap': 2911022126880,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'open': None,
 'openTime': None,
 'openSource': 'official',
 'peRatio': 29.52,
 'previousClose': 189.72,
 'previousVolume': 70399988,
 'primaryExchange': 'NASDAQ',
 'symbol': 'AAPL',
 'volume': None,
 'week52High': 198.57,
 'week52Low': 163.63,
 'ytdChange': -0.008767979008969879,
 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
pe_ratio = data['peRatio']
pe_ratio

29.52

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []

for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        new_data = {'Ticker': symbol, 
            'Price': data[symbol]['quote']['latestPrice'], 
            'Price-to-Earnings Ratio': data[symbol]['quote']['peRatio'], 
            'Number of Shares to Buy': 'N/A'}

        # Get the index for the new row
        new_index = len(final_dataframe)
        
        # Set the values for each column at the new index
        for column, value in new_data.items():
            final_dataframe.at[new_index, column] = value
            
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0      MMM  104.86                   -9.87                     N/A
1      AOS   85.36                   22.17                     N/A
2      ABT  104.87                   32.57                     N/A
3     ABBV  164.35                   48.91                     N/A
4      ACN     308                   27.95                     N/A
..     ...     ...                     ...                     ...
498    XYL  142.68                   50.24                     N/A
499    YUM  141.66                   25.07                     N/A
500   ZBRA  319.86                   63.34                     N/A
501    ZBH  121.23                   26.24                     N/A
502    ZTS  173.71                   33.47                     N/A

[503 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('Price-to-Earnings Ratio', ascending = False, inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe

    index Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0       6    AMD   162.62                  237.82                     N/A
1     142    DAY     62.5                  204.85                     N/A
2     220   GILD    67.86                  175.89                     N/A
3     312    MRK   130.88                  144.46                     N/A
4     263    IRM       82                  124.68                     N/A
5     489   WELL   100.95                  123.34                     N/A
6     132   CSGP    88.13                  121.95                     N/A
7      14    ARE   124.06                  114.87                     N/A
8     169    LLY   771.12                  113.57                     N/A
9     483    DIS   103.37                  111.78                     N/A
10    454    TYL   487.97                  110.65                     N/A
11    457   UBER    66.05                  100.24                     N/A
12    160     DD    77.57                   96.62                     N/A
13    401   RVTY   108.46                   89.64                     N/A
14    291    LYV    96.38                   88.42                     N/A
15    147   DXCM   131.91                   87.94                     N/A
16    326   MPWR    728.1                   86.68                     N/A
17     54   AXON   290.44                   84.43                     N/A
18    256     IP    40.52                   81.96                     N/A
19    414    NOW   758.01                   81.16                     N/A
20    177   EQIX    799.5                   80.19                     N/A
21    349   NVDA   943.59                   79.09                     N/A
22    180     EL   138.24                   77.66                     N/A
23    385    PTC   184.21                   76.75                     N/A
24     81   CDNS   288.93                   75.24                     N/A
25    338    NWS    27.12                    74.9                     N/A
26    192   FICO  1404.43                   73.68                     N/A
27    337   NWSA     26.3                   72.63                     N/A
28    259   ISRG   396.43                   71.56                     N/A
29    131   CTVA       56                   70.98                     N/A
30    114    CLX   136.97                   70.97                     N/A
31    409    CRM   284.68                   67.78                     N/A
32    105    CMG  3145.88                   67.15                     N/A
33    127    COO     97.9                   67.05                     N/A
34    258   INTU   653.37                   66.81                     N/A
35    252   PODD   185.38                   66.21                     N/A
36    211     GE   161.12                   66.03                     N/A
37     36   ANSS   327.53                    65.9                     N/A
38     65   TECH    82.84                   65.75                     N/A
39    500   ZBRA   319.86                   63.34                     N/A
40    288   LDOS   147.56                   63.33                     N/A
41    431   SNPS   569.27                   62.76                     N/A
42     73    BSX    74.55                   62.13                     N/A
43    171   ENPH   116.85                   59.62                     N/A
44    228    DOC    19.97                      58                     N/A
45    176    EFX   249.94                   55.67                     N/A
46     75   AVGO  1412.13                   52.99                     N/A
47     72    BXP    63.65                    52.6                     N/A
48    395      O    55.19                   52.56                     N/A
49    247   IDXX   540.94                   52.42                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [9]:
portfolio_input()

Enter the value of your portfolio: 10000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [ ]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [ ]:
symbol = 'AAPL'
batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [ ]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)


for symbol_string in symbol_strings:
    batch_api_call_url = f'https://cloud.iexapis.com/stable/stock/market/batch?types=advanced-stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN

        new_data = {
            'Ticker': symbol, 
            'Price': data[symbol]['quote']['latestPrice'], 
            'Number of Shares to Buy': 'N/A',
            'Price-to-Earnings Ratio': data[symbol]['quote']['peRatio'],
            'PE Percentile': 'N/A',
            'Price-to-Book Ratio': data[symbol]['advanced-stats']['priceToBook'],
            'PB Percentile': 'N/A',
            'Price-to-Sales Ratio': data[symbol]['advanced-stats']['priceToSales'],
            'PS Percentile': 'N/A',
            'EV/EBITDA': ev_to_ebitda,
            'EV/EBITDA Percentile': 'N/A',
            'EV/GP': ev_to_gross_profit,
            'EV/GP Percentile': 'N/A',
            'RV Score': 'N/A'
        }

        # Get the index for the new row
        new_index = len(rv_dataframe)
        
        # Set the values for each column at the new index
        for column, value in new_data.items():
            rv_dataframe.at[new_index, column] = value

In [ ]:
rv_dataframe

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [ ]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [ ]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean())
    # , inplace = True

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [ ]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [ ]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# # Print each percentile score to make sure it was calculated properly
# for metric in metrics.values():
#     print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [ ]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

## Selecting the 50 Best Value Stocks¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [ ]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [18]:
portfolio_input()

Enter the value of your portfolio: 10000000

In [24]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,MMM,104.86,189,-9.87,N/A,11.51,N/A,1.72,N/A,-9.582511,N/A,4.596424,N/A,N/A
1,AOS,85.36,232,22.17,N/A,5.57,N/A,2.71,N/A,12.233582,N/A,6.885787,N/A,N/A
2,ABT,104.87,189,32.57,N/A,4.69,N/A,4.51,N/A,22.871994,N/A,8.545987,N/A,N/A
3,ABBV,164.35,120,48.91,N/A,36.12,N/A,5.32,N/A,15.650124,N/A,10.187824,N/A,N/A
4,ACN,308,64,27.95,N/A,7.63,N/A,3.2,N/A,16.481198,N/A,9.597119,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,XYL,142.68,139,50.24,N/A,3.42,N/A,4.39,N/A,27.454091,N/A,12.379231,N/A,N/A
499,YUM,141.66,140,25.07,N/A,-5.02,N/A,5.54,N/A,20.227626,N/A,9.413655,N/A,N/A
500,ZBRA,319.86,62,63.34,N/A,5.26,N/A,3.82,N/A,29.828849,N/A,9.21902,N/A,N/A
501,ZBH,121.23,163,26.24,N/A,1.98,N/A,3.34,N/A,14.836764,N/A,5.654593,N/A,N/A
502,ZTS,173.71,114,33.47,N/A,15.63,N/A,9.05,N/A,25.387689,N/A,13.677316,N/A,N/A

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [25]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [26]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [27]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [28]:
writer.close()